@import "tailwindcss";

.status-badge-applied {
    background-color: #FFFEFE;
    color: #191918;
    border-color:#C9C8C9;
}

.status-badge-hr,
.status-badge-technical,
.status-badge-final {
    background-color: #0D2236;
    color: #1192F7;
    border-color: #104470;
}

.status-badge-offer,
.status-badge-accepted {
    background-color: #102A1E;
    color: #23BB7D;
    border-color: #19553A;
}

.status-badge-rejected,
.status-badge-withdrawn {
    background-color: #2F0E0F;
    color: #CC272E;
    border-color: #5E1618;
}